# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Build files
build/
dist/
wheels/
*.egg-info/
*.egg

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Dataset Files
# -----------------------------
data/raw/
data/processed/

# -----------------------------
# Model Weights
# -----------------------------
outputs/models/
*.pth
*.pt
*.ckpt

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Environment Variables
# -----------------------------
.env